/* src/App.css */



body {
  margin: 0;
  background-color: #1ad295;
}

.App {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align to the top, not center vertically */
  min-height: 100vh;
  padding: 20px; /* Add some padding around the content */
  box-sizing: border-box;
}